<h1>Create a New Landmark:</h1>
<form method='POST' action='/landmarks'>
	<h2><label for='landmark_name'> Name </label><input id='landmark_name' type='text' name='landmark[name]'></h2>
	<h2><label for='landmark_year_completed'> Year Completed </label><input id='landmark_year_completed' type='text' name='landmark[year_completed]'></h2>
	<p><input type='submit' value='Create New Landmark'></p>
</form>